DynamicFormsBase/src/main/resources/META-INF/forms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema version="1.0"
        targetNamespace="http://www.dynamicforms.mx/dynaform-1.0"
        xmlns:df="http://www.dynamicforms.mx/dynaform-1.0"
        xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

  <annotation>
    <documentation>
        Dynamic Forms v1.0 Schema
    </documentation>
  </annotation>
  
    <!--
    Every Dynaform XML instance must begin with this element.
    -->
    <element name="dynaform" type="df:dynaform"/>
    
    <!--
    A Dynaform XML instance must contain a list of rows and a list of bundles
    -->
    <complexType name="dynaform">
    <sequence>
    	<element name="bundle" type="df:bundle" minOccurs="0" maxOccurs="unbounded"/>
        <element name="row" type="df:row" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
    </complexType>
    
    <!--
    A bundle contains a path
    -->
	<complexType name="bundle">
        <attribute name="baseName" type="token"/>
        <attribute name="var" type="token"/>
	</complexType>
    
    <!--
    A row must contain a list of Form elements
    -->
    <complexType name="row">
    <sequence>
		<!-- Permit any of these tags in any order in any number -->
		<choice minOccurs="1" maxOccurs="unbounded">
			<element name="label" type="df:label" />
			<element name="output" type="df:output" />
			<element name="separator" type="df:separator" />
			<element name="input" type="df:input" />
			<element name="inputNumber" type="df:inputNumber" />
			<element name="password" type="df:password" />
			<element name="calendar" type="df:calendar" />
			<element name="textarea" type="df:textarea" />
			<element name="rating" type="df:rating" />
			<element name="booleanchoice" type="df:booleanchoice" />
			<element name="select" type="df:select" />
			<element name="radiochoice" type="df:radiochoice" />
		</choice>
    </sequence>
    </complexType>

	<!--
    Abstract Form Element.
    -->
    <!-- <element name="formElement" type="df:formElement" abstract="true" /> -->
	<complexType name="formElement" abstract="true">
        <attribute name="colspan" type="unsignedShort" default="1"/>
        <attribute name="rowspan" type="unsignedShort" default="1"/>
	</complexType>
	
	<!--
    Label is a formElement instance
    -->
	<complexType name="label">
		<complexContent>
			<extension base="df:formElement">
				<attribute name="text" type="string" use="required" />
				<attribute name="for" type="token" />
			</extension>
		</complexContent>
	</complexType>
	
	<!--
    output is a formElement instance
    -->
	<complexType name="output">
		<complexContent>
			<extension base="df:formElement">
				<attribute name="text" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>
	
	<!--
    Separator is a formElement instance
    -->
	<complexType name="separator">
		<complexContent>
			<extension base="df:formElement">
				<attribute name="text" type="string" />
			</extension>
		</complexContent>
	</complexType>
    
    <!--
    Abstract field element.
    -->
	<complexType name="field" abstract="true">
		<complexContent>
			<extension base="df:formElement">
				<attribute name="id" type="token" use="required" />
				<attribute name="required" type="boolean" default="false" />
			</extension>
		</complexContent>
	</complexType>
	
	<!--
    Input element.
    -->
	<complexType name="input">
		<complexContent>
			<extension base="df:field">
				<attribute name="label" type="string" />
				<attribute name="placeholder" type="string" />
				<attribute name="minLength" type="int" />
				<attribute name="maxLength" type="int" />
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="password">
		<complexContent>
			<extension base="df:input">
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="inputNumber">
		<complexContent>
			<extension base="df:input">
				<attribute name="minValue" type="int" />
				<attribute name="maxValue" type="int" />
			</extension>
		</complexContent>
	</complexType>
	
	<!--
    Calendar element.
    -->
	<complexType name="calendar">
		<complexContent>
			<extension base="df:field">
				<attribute name="label" type="string" />
				<attribute name="placeholder" type="string" />
			</extension>
		</complexContent>
	</complexType>
	
	<!--
    Textarea element.
    -->
	<complexType name="textarea">
		<complexContent>
			<extension base="df:field">
				<attribute name="label" type="string" />
				<attribute name="placeholder" type="string" />
			</extension>
		</complexContent>
	</complexType>
	
	<!--
    rating element.
    -->
	<complexType name="rating">
		<complexContent>
			<extension base="df:field">
			</extension>
		</complexContent>
	</complexType>
	
	<!--
    booleanchoice element.
    -->
	<complexType name="booleanchoice">
		<complexContent>
			<extension base="df:field">
				<attribute name="label" type="string" />
			</extension>
		</complexContent>
	</complexType>
	
	<!--
    Select element.
    -->
	<complexType name="select">
		<complexContent>
			<extension base="df:field">
				<sequence>
					<element name="selectItem" type="df:selectItem" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
				<attribute name="label" type="string" />
			</extension>
		</complexContent>
	</complexType>
	
	<!--
    radiochoice element.
    -->
	<complexType name="radiochoice">
		<complexContent>
			<extension base="df:select">
			</extension>
		</complexContent>
	</complexType>
    
    <!--
    SelectItems contains value and label
    -->
    <complexType name="selectItem">
        <all>
            <element name="value" type="token" minOccurs="1"/>
            <element name="label" type="token" minOccurs="0"/>
        </all>
    </complexType>

</schema>