DynamicFormsBase/src/main/resources/META-INF/forms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema version="1.0"
        targetNamespace="http://www.dynamicforms.mx/dynaform-1.0"
        xmlns:df="http://www.dynamicforms.mx/dynaform-1.0"
        xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

  <annotation>
    <documentation>
        Dynamic Forms v1.0 Schema
    </documentation>
  </annotation>
  
    <!--
    Every Dynaform XML instance must begin with this element.
    -->
    <element name="dynaform" type="df:dynaform"/>
    
    <!--
    A Dynaform XML instance must contain a list of rows and a list of bundles
    -->
    <complexType name="dynaform">
    <sequence>
    	<element name="bundle" type="df:bundle" minOccurs="0" maxOccurs="unbounded"/>
        <element name="row" type="df:row" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
    </complexType>
    
    <!--
    A bundle contains a path
    -->
	<complexType name="bundle">
        <attribute name="baseName" type="token"/>
        <attribute name="var" type="token"/>
	</complexType>
    
    <!--
    A row must contain a list of Form elements
    -->
    <complexType name="row">
    <sequence>
        <element ref="df:formElement" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
    </complexType>

	<!--
    Abstract Form Element for replacement via substitution.
    -->
    <element name="formElement" type="df:formElement" abstract="true" />
	<complexType name="formElement">
        <attribute name="colspan" type="unsignedShort" default="1"/>
        <attribute name="rowspan" type="unsignedShort" default="1"/>
	</complexType>
	
	<!--
    Label is a formElement instance
    -->
    <element name="label" type="df:label" substitutionGroup="df:formElement"/>
	<complexType name="label">
		<complexContent>
			<extension base="df:formElement">
				<attribute name="text" type="string" use="required" />
				<attribute name="for" type="token" />
			</extension>
		</complexContent>
	</complexType>
	
	<!--
    Label is a formElement instance
    -->
    <element name="separator" type="df:separator" substitutionGroup="df:formElement"/>
	<complexType name="separator">
		<complexContent>
			<extension base="df:formElement">
				<attribute name="text" type="string" />
			</extension>
		</complexContent>
	</complexType>
    
    <!--
    A field contains: required attribute, id, type, colspan, rowspan and a list of select items
    -->
    <element name="field" type="df:field" substitutionGroup="df:formElement"/>
	<complexType name="field">
		<complexContent>
			<extension base="df:formElement">
				<sequence>
					<element name="selectItem" type="df:selectItem" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
				<attribute name="id" type="token" use="required" />
				<attribute name="type" type="df:fieldType" use="required" />
				<attribute name="required" type="boolean" default="false" />
			</extension>
		</complexContent>
	</complexType>
    
    <!--
    Dyna form FieldType
    -->
    <simpleType name="fieldType">
        <restriction base="token">
            <enumeration value="input"/>            
            <enumeration value="calendar"/>            
            <enumeration value="select"/>            
            <enumeration value="textarea"/>            
            <enumeration value="rating"/>       
            <enumeration value="radiochoice"/>
            <enumeration value="booleanchoice"/>    
        </restriction>
    </simpleType>
    
    <!--
    SelectItems contains value and label
    -->
    <complexType name="selectItem">
        <all>
            <element name="value" type="token" minOccurs="1"/>
            <element name="label" type="token" minOccurs="0"/>
        </all>
    </complexType>

</schema>